<!-- templates\includes\header.html -->
{% load static %}
<header>
  <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #483D8B">
    <div class="container justify-content-center">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span><span style="color:white">tube</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% with request.resolver_match.view_name as view_name %} 
          <li class="nav-item">              
            <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}" 
            href="{% url 'about:author' %}">Об авторе</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}"
            href="{% url 'about:tech' %}">Технологии</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-fill justify-content-end">
          {% if request.user.is_authenticated %}
            <li class="nav-item" > 
              <a class="nav-link {% if view_name  == 'posts:post_create' %}active{% endif %}" 
              href="{% url 'posts:post_create' %}">Новая запись</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle link-light" 
                href="{% url 'posts:profile' user.username %}" 
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <strong>{{ user.username }}</strong>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'posts:profile' user.username %}">Профиль</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Изменить пароль</a></li>
                <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item"> 
              <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}"
              href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link {% if view_name  == 'users:signup' %}active{% endif %}"
              href="{% url 'users:signup' %}">Регистрация</a>
            </li>
          {% endif %}
          {% endwith %}
        </ul>
        <form class="d-flex" role="search" action="{% url 'posts:search' %}">
          <input class="form-control me-2"
            name="search" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-light" type="submit">Поиск</button>
        </form>
      </div>
    </div>
  </nav>
</header>
