{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{% url 'posts:profile' comment.author.username %}">
          {{ comment.author.username }}
        </a>
        <span style="font-size:14px;">
          {{ comment.created|date:"d E Y" }}:
        </span>
        {% if user == comment.author %}
          <span style="float:right;">
            <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a href="{% url "posts:edit_comment" post.id comment.id %}">
                  изменить
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="{% url 'posts:delete_comment' post.id comment.id %}">
                  удалить
                </a></li>
              </ul>
            </div>
          </span>
        {% endif %}
      </h5>
      <div class="p-1 bg-light border">
        <p class="text-break">
          {{ comment.text|linebreaksbr }}
        </p>
      </div>
    </div>
  </div>
{% endfor %}