{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{% url 'posts:profile' comment.author.username %}">
          {{ comment.author.username }}
        </a>
        <span style="font-size:14px;">
          {{ comment.created|date:"d E Y" }}:
        </span>
        {% if user == comment.author %}
          <span style="float:right;">
            <a href="{% url 'posts:delete_comment' post.id comment.id %}">
              удалить комментарий
            </a>
          </span>
        {% endif %}
      </h5>
      <div class="p-1 bg-light border">
        <p class="text-break">
          {{ comment.text|linebreaksbr }}
        </p>
      </div>
    </div>
  </div>
{% endfor %}