{% load thumbnail %}
{% for post in page_obj %}
  <ul>
    <li>
      Автор {% include "includes/posts/if_full_name.html" with smth=post.author %}
      {% if not profile_html %}
        <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
      {% endif %}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% thumbnail post.image "960x339" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>{{ post.text }}</p>
  <p><a href="{% url 'posts:post_detail' post.id %}">подробная информация</a></p>
  {% if not group_html %}
    {% if post.group %}   
      <a href="{% url 'posts:group_list' post.group.slug %}">
        все записи группы {{post.group.title}}
      </a>
    {% else %}
      <span style="color:blue">запись без группы</span>
    {% endif %} 
  {% else %}
    <span style="color:blue">группа {{ group.title }}</span>
  {% endif %}
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %} 